*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.d-flex{
    display: flex;
}
.justify-space-between{
    justify-content: space-between;
}
.container{
   max-width: 1400px;
   width: 80%;
   margin: auto;
}
.sm-container{
    max-width: 1400px;
    width: 65%;
    margin:auto;
}
.col-4{
    width: calc((100% / 12)*4);
}
.col-8{
    width: calc((100% / 12)*4);
}
.col-12{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* debug */
.debug *{
    border: 1px dashed black;
}
.debug header{
    height: 100px;
}
.debug main{
    height: 6620px;
}
.debug footer{
    height: 570px;
}

/* #region header */
    .logo{
        padding: 1rem;
    }
    .left-menu{
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 1.5rem;
    }
    a{
        text-decoration: none;
        color: grey;
        padding: 0.75rem;
    }
    .right-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .start{
        background-color: #0061ff;
        padding: 0.5rem;
        color: white;
        border: 0;
        border-radius: 2%;
    }
    .call-to-action{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
    }


/* #endregion header */